.insightsContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
}

.wrapper {
  text-align: center;
  margin: 0 auto;
  /* border: 2px solid black; */
  /* padding: 30px; */
  border-radius: 30px;
  box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.1);
  background-color: #f0f9ff;
  width: 100%;
  align-self: center;
}

p {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.title {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 4vh 1vw;
  width: 80%;
  margin: 0 auto;
}

.card {
  width: 22%;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  /* background-color: #f0f9ff; */
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px 0;
}

.card .content {
  padding: 10px;
}

.card a {
  text-decoration: none;
  color: inherit;
}
