.profileImageChild {
  height: 214px;
  width: 988px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.istockphoto1476170969170667aIcon {
  width: 133px;
  height: 131px;
  position: relative;
  border-radius: var(--br-71xl);
  object-fit: cover;
  z-index: 1;
}
.profileImageHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  min-width: 133px;
}
.firstName {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xl);
  min-width: 157px;
}
.firstName,
.lastName,
.profileImageHolderParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profileImageHolderParent {
  width: 426px;
  flex-direction: row;
  gap: var(--gap-32xl);
  min-width: 426px;
  max-width: 100%;
}
.lastName {
  /* width: 242px; */
  flex-direction: column;
  gap: var(--gap-4xl);
  min-width: 260px;
}
.profileImage,
.profileImageItem {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
}
.profileImage {
  margin-top: 10px;

  align-self: stretch;
  display: flex;
  flex-direction: row;
  /* gap:10px; */
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-smi) var(--padding-smi);
  gap: 5rem;
}
.profileImageItem {
  height: 214px;
  width: 988px;
  position: relative;
  display: none;
}
.istockphoto1476170969170667aIcon1 {
  width: 133px;
  height: 131px;
  position: relative;
  border-radius: var(--br-71xl);
  object-fit: cover;
  z-index: 1;
}
.istockphoto1476170969170667aWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
  min-width: 133px;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xl);
  min-width: 157px;
}
.frameContainer,
.frameGroup,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  width: 426px;
  flex-direction: row;
  gap: var(--gap-32xl);
  min-width: 426px;
  max-width: 100%;
}
.frameContainer {
  width: 244px;
  flex-direction: column;
  gap: var(--gap-4xl);
  min-width: 244px;
}
.profileImage1 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi) var(--padding-4xs);
  gap: var(--gap-180xl);
  max-width: 100%;
}
.adminDashboard,
.content,
.profile,
.profileImage1 {
  display: flex;
  flex-direction:row ;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile {
  flex: 1;
  flex-direction: column;
  gap: 53px;
  max-width: 100%;
}
.adminDashboard,
.content {
  box-sizing: border-box;
}
.dashboardLayout{
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.appointmentsAdmin{
  display: flex;
  flex-direction: column;
}
.content {
  width: 1114px;
  flex-direction: row;
  padding: 0 var(--padding-44xl);
  max-width: 100%;
}
.adminDashboard {
  width: 100%;
  position: relative;
  top: 58Px;
  background-color: var(--color-white);
  overflow: hidden;
  /* flex-direction: column; */
  padding: 0 0 401px;
  gap: var(--gap-21xl);
  line-height: normal;
  letter-spacing: normal;
}

/* Form.css */

/* Form.module.css */

.formContainer {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  /* background-color: #f0f8ff; */
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formButtons {
  display: flex;
  justify-content: space-between;
}
.formButtons2 {
  display: flex;
  justify-content: space-between;
  margin-left: 65px;
}

.btn {
  width: 100px;
  /* padding: 10px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn1 {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.accept {
  background-color: green;
  color: white;
}

.reject {
  background-color: red;
  color: white;
}


@media screen and (max-width: 1200px) {
  .content {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .lastName,
  .profileImageHolderParent {
    flex: 1;
  }
  .profileImage {
    flex-wrap: wrap;
    gap: var(--gap-80xl);
  }
  .frameContainer,
  .frameParent {
    flex: 1;
  }
  .profileImage1 {
    flex-wrap: wrap;
    gap: var(--gap-80xl);
  }
}
@media screen and (max-width: 750px) {
  .frameParent,
  .profileImageHolderParent {
    min-width: 100%;
  }
  .profile {
    gap: var(--gap-7xl);
  }
  .adminDashboard {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .istockphoto1476170969170667aIcon {
    align-self: stretch;
    width: auto;
  }
  .profileImageHolder {
    flex: 1;
  }
  .profileImageHolderParent {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .profileImage {
    gap: var(--gap-31xl);
  }
  .istockphoto1476170969170667aIcon1 {
    align-self: stretch;
    width: auto;
  }
  .istockphoto1476170969170667aWrapper {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .profileImage1 {
    gap: var(--gap-31xl);
  }
}
.heading{
  font-size: larger;
  margin: 20px;
}
.adminDashboard {
  display: flex;
  width: 100%;
  background-color: #f0f0f0;
}

.sidebar {
  flex-basis: 200px;
  min-width: 250px;
  background-color: #444444;
  position: sticky;
  /* justify-content: center; */
  color: white;
  align-items: center;
  /* font-weight: bolder; */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  /* cursor: pointer; */
}
.sidebarText{
  cursor: pointer;
}
.content {
  flex-grow: 1;
  padding: 20px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.reviewItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  min-width: 1000px;
}

.reviewItem h3 {
  margin: 0;
  color: #333;
}

.reviewItem p {
  font-size: 14px;
  color: #666;
}

.reviewItem span {
  display: block;
  margin-top: 10px;
}
.reviewContent{
 padding-top: 1rem;
 padding-bottom: 1rem;
}
.reviewItem button {
  padding: 5px 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reviewItem button:hover {
  background-color: #c9302c;
}
