:root {
  --padding-xl: 20px;
  --padding-6xl: 40px;
  --padding-10xl: 60px;
  --padding-14xl: 80px;
  --gap-8xl: 40px;
  --font-size-base: 14px;
  --font-size-xl: 20px;
  --font-montserrat: "Montserrat", sans-serif;
  --color-black: #000;
}

.illustrationContainer,
.emptyStateMessage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.illustrationContainer {
  padding: 0 var(--padding-xl) 0 var(--padding-6xl);
  max-width: 70%;
  height: 500px;
}

.emptyStateMessage {
  padding: 0 var(--padding-10xl) 0 var(--padding-14xl);
}

.youHaventBought {
  font-weight: 600;
  text-align: center;
}

.allTheProperties {
  text-align: center;
}

.emptyState {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: var(--gap-8xl);
  width: 100%;
}

.emptyStateIllustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;

  /* padding-top: vh; */
  /* padding: 0 200px 0 300px; */
}

.sidebarContainer {
  display: flex;
  /* justify-content: space-between; */
  /* padding: 30px 20px 0 250px; */
  gap: 2em;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
  flex-wrap: wrap;
  text-align: center;
  margin-top: 90px;
}

.statsContainer {
  width: auto;
  display: flex;
  align-items: start;
  gap: 50px;
  height: fit-content;
  /* background-color: red; */
}

.statCard {
  height: 150px;
  background-color: #ffffff;
  padding: 1.5em;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.statCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.statCard h3 {
  margin-bottom: 0.5em;
  font-size: 1em;
  color: #333;
}

.statCard p {
  font-size: 1.6em;
  font-weight: bold;
  color: #4a4a4a;
}

.popularfeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 6vw;
  gap: 20px;
}

.popularProperties {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 6vw 0;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

.linkWrapper {
  display: flex;
  flex: 1;
  min-width: 200px;
  gap: 20px;
}

/* Mobile & Tablet Optimizations */
@media (max-width: 925px) {
  .statsContainer {
    padding: 0 5vw;
  }
  .emptyStateIllustration {
    width: 100%;
    padding-top: 50px;
  }
}

@media (max-width: 700px) {
  .statsContainer {
    /* grid-template-columns: 1fr; */
  }
  .youHaventBought {
    font-size: var(--font-size-base);
  }
}
